[Unit]
Description=X11VNC Server
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/bin/x11vnc -xkb -forever -auth /var/run/lightdm/root/:0 -display :0 -rfbauth /etc/x11vnc.pass -rfbport 5900 -bg -o /var/log/x11vnc.log

[Install]
WantedBy=multi-user.target